
.list-container {
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: rgba(190, 190, 190, 0.384);
}

.list-item:hover {
    transform: scale(1.2);
    cursor: pointer;
    transition: 100ms linear;
    /* box-shadow: 10px 0 3px rgba(0, 0, 0, 0.39), -10px 0 3px rgba(0, 0, 0, 0.39); */
}

.arrow {
    top: 0;
    text-align: center;
    width: 80px;
    height: 94%;
    transform: translateY(5px);
    font-size: 100px;
    position: absolute;
    color: white;
    background-color: #0000007e;
    user-select: none;
}

.arrow:hover {
    background-color: #0000009a;
    cursor: pointer;
}
